@use "./variables" as *;
@use "./mixins" as *;


#appointment {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6%;

        .info {
            P {
                margin: .5rem 0 2rem;
            }

            article {
                display: flex;
                align-items: start;
                gap: 1.5rem;
                margin-bottom: 1.5rem;

                div p {
                    margin: .4rem;
                }

                .icon {
                    padding: .8rem;
                    color: $white-color;
                    background-color: $secondary-color;
                    border-radius: 50%;
                    display: flex;
                }
            }

            @media (max-width: $breakpoint-lg) {

                >h2,
                >p {
                    text-align: center;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
            height: fit-content;

            .group {

                label {
                    font-size: .85rem;
                    margin-bottom: .4rem;
                    display: block;
                    font-weight: 600;
                }

                input,
                textarea,
                select {
                    background-color: $white-color;
                    padding: .85rem 1rem;
                    width: 100%;
                    border-radius: .4rem;
                    resize: none;
                    appearance: none;
                }
            }
        }

        @media (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr;
        }
    }
}